{
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-unused-expressions": "warn",
    "no-unused-labels": "warn",
    "no-unused-vars": "warn",
    "semi": "warn"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}